= simple_form_for '/search', html: { class: 'form-horizontal' }, defaults: { :required => false }, remote: true do |f|
  .row
    .span12
      .page-header
        %h4 Advance Query
      = f.input :product_type, label: 'Product Type'
      = f.input :calib_level, label: 'Calibration Level', as: :integer
      = f.input :obs_collection, label: 'Data collecion'
      = f.input :obs_id, label: 'Observation ID'
      = f.input :obs_publisher_did, label: 'Dataset identifier'
      = f.input :access_url, label: 'Access URL'
      = f.input :access_format, label: 'File content format'
      = f.input :access_estsize, label: 'Estimated Size', as: :integer
      = f.input :target_name, label: 'Astronomical object observed'
      = f.input :s_ra, label: 'RA', as: :integer
      = f.input :s_dec, label: 'Dec', as: :integer
      = f.input :s_fov, label: 'FOV', as: :integer
      = f.input :s_region, label: 'Region'
      = f.input :s_resolution, label: 'Resolution', as: :float
      = f.input :t_min, as: :integer, label: 'Start time'
      = f.input :t_max, as: :integer, label: 'Stop time'
      = f.input :t_exptime, as: :float, label: 'Exposure time'
      = f.input :t_resolution, as: :float, label: 'Temporal resolucion'
      = f.input :en_min, as: :integer, label: 'Start spectral coordinates'
      = f.input :en_max, as: :integer, label: 'Stop spectral coordinates'
      = f.input :em_res_power, as: :integer, label: 'Spectral resolving power'
      = f.input :o_ucd, label: 'UCD'
      = f.input :pol_states, label: 'Polarization states'
      = f.input :facility_name, label: 'Facility name'
      = f.input :instrument_name, label: 'Instrument name'
      .form-actions
        = f.button :submit, 'Search'
