= simple_form_for '/search', remote: true, html: { class: 'form-horizontal' }, defaults: { :required => false } do |f|
  .row
    .span12
      .page-header
        %h4 Position
      = f.input :source, label: 'Source name (Sesame)'
      = f.input :source, label: 'Source name (ALMA)'
      = f.input :radec, label: 'RA Dec'
      = f.input :radius, label: 'Search radius'
      .form-actions
        = f.button :submit, 'Search'
  .row
    .span12
      #results