.page-header
  %h1 Advance Search

.row
  .span6
    = simple_form_for '#', html: { class: 'form-horizontal' }, defaults: { required: false }  do |f|
      = f.input :language do
        = f.select :language, ["ABQL", "PQL"]
      = f.input :query, as: :text, input_html: { class: 'input-xxlarge', rows: 5 }
      .form-actions
        = f.button :submit, 'Search'